{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "root": true,
    "env": {
        "browser": true,
        "mocha": true,
        "node": true
    },
    "globals": {
        "ENVIRONMENT": true,
        "WRITE_API_HOST": true,
        "WRITE_BACKEND_HOST": true,
        "READ_BACKEND_ENDPOINT": true,
        "PushNotification": true,
        "device": true,
        "expect": true,
        "proxyquire": true,
        "React": true,
        "ReactDOM": true,
        "sinon": true,
        "Symbol": true,
        "TestUtils": true,
        "$": true
    },
    "plugins": [
        "react",
        "babel"
    ],
    "rules": {
        "babel/generator-star-spacing": [2],
        "babel/object-curly-spacing": [2],
        "babel/arrow-parens": [0],
        "babel/no-await-in-loop": [2],
        "brace-style": [2, "1tbs"],
        "comma-spacing": [2, {"before": false, "after": true}],
        "computed-property-spacing": [2, "never"],
        "indent": [2, 4, {"SwitchCase": 1}],
        "jsx-quotes": [2, "prefer-double"],
        "linebreak-style": [2, "unix"],
        "new-cap": [2, {"capIsNew": false}],
        "no-console": [0],
        "no-multi-spaces": [0],
        "no-underscore-dangle": [0],
        "object-curly-spacing": [2, "never"],
        "one-var": [2, "never"],
        "quotes": [2, "double"],
        "react/display-name": [2],
        "react/jsx-boolean-value": [2, "always"],
        "react/jsx-closing-bracket-location": [2],
        "react/jsx-curly-spacing": [2, "never", {"allowMultiline": true}],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-max-props-per-line": [2, {"maximum": 4}],
        "react/jsx-no-duplicate-props": [2],
        "react/jsx-no-literals": [2],
        "react/jsx-no-undef": [2],
//        "react/jsx-sort-props": [2], TODO sarebbe bello ripristinarla con l'eccezione <input>
        "react/jsx-uses-react": [2],
        "react/jsx-uses-vars": [2],
        "react/no-danger": [2],
        "react/no-did-mount-set-state": [2],
        "react/no-did-update-set-state": [2],
        "react/no-direct-mutation-state": [2],
        "react/no-unknown-property": [2],
        "react/prop-types": [2],
        "react/react-in-jsx-scope": [2],
        "react/require-extension": [2],
        "react/self-closing-comp": [2],
        "react/sort-comp": [2, {
            "order": [
                "constructor",
                "lifecycle",
                "everything-else",
                "rendering"
            ],
            "groups": {
                "rendering": [
                    "/^render.+$/",
                    "render"
                ]
            }
        }],
        "react/sort-prop-types": [2],
        "react/wrap-multilines": [2],
        "semi": [2, "always"],
        "keyword-spacing": [2],
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, "always"],
        "space-in-parens": [2, "never"],
        "strict": [2, "never"]
    }
}
