.av-root {
    .header {
        position: absolute;
        width: 100%;
        height: $header-height;
    }
    .content {
        position: absolute;
        top: $header-height;
        width: 100%;
        height: calc(100% - #{$header-height});
    }
}
