/*TODO refactor to retrieve it dynamically*/

.react-tagsinput {
    border-bottom: 1px solid white;
    overflow: hidden;
}

.react-tagsinput-tag {
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0px 10px 2px 10px;
}

.react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
}

.react-tagsinput-tag a::before {
    content: " ×";
    color: white;
}
.react-tagsinput-tag a:hover {
    text-decoration: none;
}
.react-tagsinput-input {
    background: transparent;
    border: 0;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 6px;
    margin-top: 1px;
    outline: none;
    padding: 5px;
    width: 100%;
}
.sensor-modal-select .Select-control,
.sensor-modal-select .Select-menu-outer {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: solid 1px white;
}

.sensor-modal-select .Select-control .Select-placeholder {
    color: #999;
    padding: 0px;
    margin: 0px;
    font-weight: 300;
    font-size: 16px;
}
